{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container mt-4 w-75 mt-5 p-5">
  <h2>REGISTER FORM</h2>

  {% if request.user.is_authenticated %}

  <h3>Thanks for registering</h3>

  {% else %}

  <h3>Fill out the form please!</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form | crispy }}
    <!-- {{ form_profile | crispy}} -->
    <button type="submit" class="btn btn-info mt-4">Register</button>
  </form>
  {% endif %} {% endblock content %}
</div>
